PORT=4000
MONGODB_URI=mongodb+srv://aashishrawte1:dW4FBEqeOleJsV16@time-tracker.dgyjzgd.mongodb.net/?appName=time-tracker
JWT_SECRET=65d238c946841d3a153472c3330da236
CORS_ORIGIN=http://localhost:5173
